h1{
    text-align: center;
}
body{
    background-color: pink;
}
p{
    margin: 10px;
    font-size: 1.4rem;
    text-align: center;
}
.box{
    border: 1px solid #EFEFEF;margin:10px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 2rem;
}



.box > img{
padding: 1rem;
width: 600px;
height: 600px;
border-radius: 2rem;

}